# Laravel
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache/
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Environment & secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Claude Code
.claude/
vendor/.DS_Store
vendor/laravel/.DS_Store
vendor/phpunit/.DS_Store
