.card[data-v-39499216] {
  cursor: pointer;
}
.h1-input .v-field--variant-solo .v-field__field input[data-v-39499216] {
  background: transparent !important;
}
.h1-input:hover .v-field--variant-solo .v-field__field input[data-v-39499216],
.h1-input:hover .v-field-active[data-v-39499216],
.h1-input:hover .v-field__field[data-v-39499216] {
  background: #f3f5f7 !important;
}
.h1-input .v-field--variant-solo .v-field__field input[data-v-39499216] {
  padding: 5px !important;
}
.h1-input .v-field input[data-v-39499216]::-moz-placeholder {
  border: none !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  padding: 0 !important;
}
.h1-input .v-field input[data-v-39499216]::placeholder,
.h1-input .v-field[data-v-39499216] {
  border: none !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  padding: 0 !important;
}
.h1-input .v-field input[data-v-39499216] {
  font-weight: 600 !important;
}
.h1-input .v-input .v-field [data-v-39499216] {
  padding: 0 !important;
}
.card[data-v-5b1660ce] {
  cursor: pointer;
}
.h1-input .v-field--variant-solo .v-field__field input[data-v-5b1660ce] {
  background: transparent !important;
}
.h1-input:hover .v-field--variant-solo .v-field__field input[data-v-5b1660ce],
.h1-input:hover .v-field-active[data-v-5b1660ce],
.h1-input:hover .v-field__field[data-v-5b1660ce] {
  background: #f3f5f7 !important;
}
.h1-input .v-field--variant-solo .v-field__field input[data-v-5b1660ce] {
  padding: 5px !important;
}
.h1-input .v-field input[data-v-5b1660ce]::-moz-placeholder {
  border: none !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  padding: 0 !important;
}
.h1-input .v-field input[data-v-5b1660ce]::placeholder,
.h1-input .v-field[data-v-5b1660ce] {
  border: none !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  padding: 0 !important;
}
.h1-input .v-field input[data-v-5b1660ce] {
  font-weight: 600 !important;
}
.h1-input .v-input .v-field [data-v-5b1660ce] {
  padding: 0 !important;
}
.taxonomy-section {
  margin-bottom: 40px;
}
.dashboard-form-table {
  min-width: 1500px;
}
.dashboard-form-table tr td:first-child {
  position: sticky !important;
  left: 0 !important;
  width: 500px;
}
.dashboard-form-table .v-data-table-footer {
  display: none;
}
.task-list-widget .v-expansion-panel:not(:first-child):after {
  border: none !important;
}
.subtask {
  padding-left: 20px;
  font-style: italic;
  color: gray;
}
.card {
  cursor: pointer;
}
.text-widget[data-v-80588ad2] {
  padding: 16px;
  border-radius: 8px;
  min-height: 100px;
}
.text-widget[data-v-80588ad2]:hover {
  background-color: #f3f5f7;
  cursor: text;
}
.text-widget [contenteditable=true][data-v-80588ad2],
.text-widget [contenteditable=true][data-v-80588ad2]:focus-visible {
  outline: none;
  border: none;
}
.iframe-widget[data-v-24d9e6d5] {
  height: 100%;
}
.v-chip {
  cursor: pointer;
}
.day-chip .v-chip__content {
  display: block !important;
  text-align: center;
}
.day-chip:not(.active-day-chip) .v-chip__overlay,
.day-chip:not(.active-day-chip) .v-chip__underlay {
  display: none !important;
}
.day-chip.v-chip.v-chip--density-default {
  height: unset !important;
  border-radius: 8px !important;
  padding: 10px;
  min-width: 60px !important;
  text-align: center !important;
  align-items: center;
  justify-content: center;
}
.day-label {
  display: block !important;
  width: 100% !important;
  font-size: 12px;
  opacity: .5;
}
.day-date {
  font-size: 16px;
}
.meeting-list .v-list-item {
  border: .5px solid #1c3cc0;
  border-radius: 8px;
  background: #1C3CC020;
  font-size: 4.8rem !important;
  margin-bottom: 4px;
}
.meeting-list .v-list-item .v-list-item-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}
.meeting-list .v-list-item-subtitle {
  font-size: 14px;
  line-height: 18px;
}
.overflow-x-scroll {
  overflow-x: auto;
}
.sticky-left {
  left: 0;
}
.sticky-left,
.sticky-right {
  position: sticky;
  z-index: 2;
  background-color: #ffffff70;
}
.sticky-right {
  right: 0;
}
.chips-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.chip {
  background-color: #007bff;
  color: #fff;
  border-radius: 16px;
  padding: 8px 12px;
  margin: 4px;
  font-size: 14px;
  cursor: pointer;
}
.chip:hover {
  background-color: #0056b3;
}
.subtask[data-v-6e6216d2] {
  padding-left: 20px;
  font-style: italic;
  color: gray;
}
.card[data-v-6e6216d2] {
  cursor: pointer;
}
.dashboard-form-table[data-v-6e6216d2] {
  min-width: 1500px;
}
.dashboard-form-table tr td[data-v-6e6216d2]:first-child {
  position: sticky !important;
  left: 0 !important;
  width: 500px;
}
.deal-status-column[data-v-6e6216d2] {
  min-height: 400px;
}
.deal-card[data-v-6e6216d2] {
  cursor: move;
}
.deal-status-head-color[data-v-6e6216d2] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
.deal-cards[data-v-6e6216d2] {
  overflow-y: auto;
}
.ghost[data-v-6e6216d2] {
  opacity: .4;
}
.dragging[data-v-6e6216d2] {
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
  transform: rotate(3deg);
}
#deals-funnel[data-v-6e6216d2] {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  overflow-x: auto;
  width: 100%;
  height: calc(100vh - 175px);
}
.deal-status-column[data-v-6e6216d2] {
  min-width: 300px;
  padding: 10px;
  background-color: #fff;
  min-height: 80vh;
  position: relative;
  overflow: unset !important;
}
.deal-status-column-sort-handle[data-v-6e6216d2] {
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: 0;
}
.deal-status-column:hover .deal-status-column-sort-handle[data-v-6e6216d2] {
  opacity: 1;
}
.deal-totals[data-v-6e6216d2] {
  display: flex;
  gap: 10px;
  font-size: 12px;
}
.deal-cards[data-v-6e6216d2] {
  min-height: 100px;
  height: 100%;
  max-height: calc(100vh - 255px);
  overflow-y: scroll;
  padding: 5px;
}
.deal-card[data-v-6e6216d2] {
  background: #fff;
  padding: 10px;
  margin-bottom: 4px;
  cursor: grab;
  max-width: 300px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
  width: 100%;
  overflow: unset !important;
  z-index: 4;
  &.ui-draggable-dragging[data-v-6e6216d2] {
    transform: rotate(-5deg);
  }
  h4[data-v-6e6216d2] {
    font-size: 16px;
    margin-bottom: 0;
  }
  .deal-value[data-v-6e6216d2] {
    font-size: 12px;
    margin: 0;
    opacity: .6;
  }
}
.deal-card-boost-btn-success[data-v-6e6216d2] {
  background: var(--ks-theme-success);
  color: #fff;
  text-align: center;
  width: 22px;
  height: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding: 0;
}
.deal-card-boost-btn-success[data-v-6e6216d2]:hover {
  color: var(--ks-theme-success);
  background: var(--ks-theme-succes-20);
  cursor: pointer;
}
.deal-card-boost-btn-danger .fal[data-v-6e6216d2],
.deal-card-boost-btn-success .fal[data-v-6e6216d2],
.deal-card-boost-btn-warning .fal[data-v-6e6216d2] {
  margin-right: 0 !important;
}
.deal-card-boost-btn-warning[data-v-6e6216d2] {
  background: var(--ks-theme-warning);
  color: #fff;
  text-align: center;
  width: 22px;
  height: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding: 0;
}
.deal-card-boost-btn-warning[data-v-6e6216d2]:hover {
  color: var(--ks-theme-warning);
  background: var(--ks-theme-warning-20);
  cursor: pointer;
}
.deal-card-boost-btn-danger[data-v-6e6216d2] {
  background: var(--ks-theme-danger);
  color: #fff;
  text-align: center;
  width: 22px;
  height: 22px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  padding: 0;
}
.deal-card-boost-btn-danger[data-v-6e6216d2]:hover {
  color: var(--ks-theme-danger);
  background: var(--ks-theme-danger-20);
  cursor: pointer;
}
.deal-status-column.ui-droppable-hover[data-v-6e6216d2] {
  background-color: #e0f7fa !important;
  border-color: #00acc1 !important;
}
.deal-status-head-color[data-v-6e6216d2] {
  border-radius: 100px;
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}
.deal-card-boost-btn i[data-v-6e6216d2] {
  margin-right: 0 !important;
}
.deal-boost-dropdown[data-v-6e6216d2] {
  border: 1px solid #d0d0d0;
  width: 245px;
}
.sales-widgets-row img[data-v-6e6216d2] {
  max-width: 25px;
  width: 100%;
  height: 25px;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
  border-radius: 4px;
}
.docs-widget {
  background: #f3f5f780;
  margin: 0 -8px;
}
.docs-widget-body {
  min-height: 100px;
}
.docs-widget-body:hover {
  cursor: text;
}
.docs-widget-body[contenteditable=true]:focus-visible {
  background-color: #fff;
}
.docs-widget-body ol,
.docs-widget-body ul {
  padding-left: 20px !important;
}
.docs-widget-frame {
  position: relative;
}
.docs-widget-frame .docs-add-editor-widget {
  position: absolute;
  right: 10px;
  top: 10px;
}
.docs-widget-body[contenteditable=true],
.docs-widget-body[contenteditable=true]:focus-visible {
  outline: none;
  border: none;
}
@page {
  size: A4;
  margin: 0;
}
.paper-doc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paper-page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  box-sizing: border-box;
  background: #fff;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
  page-break-after: always;
}
#kyano-editor-toolbar {
  padding: 8px 10px;
  background: #d9eaf1;
  width: 100%;
  width: calc(100% + 24px);
  overflow-x: scroll;
  position: sticky;
  top: 55px;
  z-index: 99;
  margin: 10px -12px 0;
  border-bottom: 1px solid #ebecf2;
  .vertical {
    transform: rotate(90deg);
    opacity: .4;
  }
}
#kyano-editor-toolbar button {
  margin-right: 2px;
  background-color: transparent;
  color: #1c3cc0;
  width: 30px !important;
  max-height: 30px !important;
  border-radius: 0 !important;
  border: unset !important;
}
#kyano-editor-toolbar button:hover {
  background-color: #1C3CC030;
  color: #1c3cc0;
}
.table-of-content-title {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}
#kb-table-of-contents {
  position: sticky;
  top: 112px;
  padding: 20px;
  margin-bottom: 20px;
  max-height: 100vh;
  height: 100%;
  overflow-y: auto;
}
.toc-widget ul {
  list-style-type: none;
  padding-left: 0;
}
.toc-widget li {
  margin-bottom: 5px;
}
#kb-table-of-contents a {
  text-decoration: none;
  color: #000;
  display: block;
  margin: 8px 0;
  font-size: 14px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
  border-radius: 4px;
}
#kb-table-of-contents a:hover {
  background-color: #1C3CC020;
  color: #1c3cc0;
}
#kb-table-of-contents a.active {
  color: #1c3cc0;
  font-weight: 700;
}
.toc-h1 {
  font-weight: 700;
  margin-left: 0;
}
.toc-h2 {
  font-weight: 400;
  margin-left: 20px;
}
.toc-h3 {
  font-weight: 400;
  margin-left: 30px;
}
.toc-h4 {
  font-weight: 400;
  margin-left: 40px;
}
.toc-h5 {
  font-weight: 400;
  margin-left: 50px;
}
.toc-h6 {
  font-weight: 400;
  margin-left: 60px;
}
.docs-widget-body {
  min-height: 200px;
  border: 2px dashed #ccc;
  padding: 20px;
}
.drag-block-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.widget-body {
  padding: 0 8px;
  height: calc(100% - 56px);
}
.field-group .v-switch .v-selection-control {
  min-height: unset;
}
.app-topbar {
  border-bottom: 1px solid var(--neutral-200);
}
.app-topbar-organisation .v-list-item {
  padding: 0 !important;
}
.app-topbar .v-list-item-title {
  font-size: 1.6rem;
}
.edit-mode-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.edit-mode-title .v-selection-control {
  min-height: unset !important;
}
